.gameCharacters {
    background-size: cover;
    background: url("../images/background/website/throne_background.png") no-repeat fixed center;
    position: relative;
    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 7vw;
        height: 7vw;
        background-color: #00FF00;
        background-size: 80% auto;
        cursor: pointer;
    }
    &__arrow.goLeft {
        left: 0;
        padding-left: 3vw;
        border-radius: 0 3.5vw 3.5vw 0;
        background: url("../images/icons/arrow_left.svg") no-repeat center;
        background-color: $background-color;
    }
    &__arrow.goRight {
        right: 0;
        padding-right: 3vw;
        border-radius: 3.5vw 0 0 3.5vw;
        background: url("../images/icons/arrow_right.svg") no-repeat center;
        background-color: $background-color;
    }
    .characterSlider {
        margin: 10vh 0;
        padding: 5vw 0;
        position: relative;
        height: 14vw;
        overflow: hidden;
        &__container {
            position: absolute;
            display: flex;
            left: 26vw;
            top: 5vw;
            transition: left .3s;
            &__item {
                height: 14vw;
                width: 14vw;
                margin: 0 7vw;
                position: static;
                transform: none;
                transform-origin: center;
            }
          &__item.focus {
              transform: scale(1.5);
          }
        }
    }
}

