#chooseYourCharacter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-color: $background-color;
  z-index: 20;
  transition: top .5s ease-in-out;
  .characters {
    position: relative;
    margin: 30px 0;
    display: flex;
    padding-bottom: 10vh;
    &__character {
      margin: 0 2vh;
      text-align: center;
      opacity: 0.3;
      cursor: pointer;
      transition: opacity 0.2s;
    }
    &__character:hover {
      opacity: 0.7;
    }
    &__character.selected {
      opacity: 1;
    }
    .selector {
      width: 15vh;
      height: 15vh;
      background-color: $color-primary;
      background: url("../images/effects/selector.svg") center no-repeat;
      position: absolute;
      bottom: 0;
      left: 9vh;
      transform: translateX(-50%);
      transition: 0.3s;
      transition-timing-function: linear;
    }
  }
}