.footer{
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    

    &__bigDiv{
        padding: 12px;
        display: flex;
        flex-direction: column;
    }
    &__bigDiv a:not(.secondary-button){
        padding: 3px;
        color: black;
        text-decoration: none;
    }
    &__bigDiv img{
        width: 50px;
    }
        


}