.footer{
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vh 10vw;
    &__bigDiv{
        display: flex;
        flex-direction: column;
        &__social {
            display: flex;
            align-items: center;
        }
    }
    &__bigDiv a:not(.secondary-button){
        padding-bottom: 15px;
        color: #ffffff;
        text-decoration: none;
        margin: 0 10px;
        transition: color .2s;
    }
    &__bigDiv a:not(.secondary-button):hover {
        color: $color-primary;
    }
    &__bigDiv img{
        width: 50px;
    }
}