.characterContainer.reversed {
  transform: scaleX(-1) translate(-50%,-50%);
}
.characterContainer.toTheTopFromLeft {
  transform: translate(-50%,-50%) scaleX(-1) rotate(-90deg);
  transform-origin: center;
}
.characterContainer.toTheTopFromRight {
  transform: translate(-50%,-50%) rotate(-90deg);
  transform-origin: center;
}
.characterContainer.toTheBottomFromLeft {
  transform: translate(-50%,-50%) rotate(90deg);
  transform-origin: center;
}
.characterContainer.toTheBottomFromRight {
  transform: translate(-50%,-50%) scaleX(-1) rotate(90deg);
  transform-origin: center;
}

.characterContainer.dead::before,
.characterContainer .character::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 7vh;
  height: 7vh;
}
.characterContainer.dead::before {
  background: url("../images/effects/death_splatter.svg") center 100% no-repeat;
}
.characterContainer .character::after {
  transform: translate(-90%,-60%);
  z-index: -1;
}
.characterContainer.isMoving .character::after  {
  background: url("../images/effects/movement_small.svg") center 100% no-repeat;
}
.characterContainer.isMovingFast .character::after {
  background: url("../images/effects/movement_medium.svg") center 100% no-repeat;
}
.characterContainer.isMovingVeryFast .character::after {
  background: url("../images/effects/movement_large.svg") center 100% no-repeat;
}
.characterContainer {
  width: 7vh;
  height: 7vh;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transform-origin: left;
  transition: all .1s;
}
.characterContainer.selectionView {
  width: 14vh;
  height: 14vh;
  position: static;
  transform: none;
  margin: 0 auto;
}
.characterContainer .character {
  height: 100%;
  width: 100%;
}
.characterContainer[data-character="jon"] .character {
  background: url("../images/characters/john_snow.svg") center 100% no-repeat;
}
.characterContainer[data-character="arya"] .character {
  background: url("../images/characters/arya_stark.svg") center 100% no-repeat;
}
.characterContainer[data-character="cersey"] .character {
  background: url("../images/characters/cersey_lannister.svg") center 100% no-repeat;
}
.characterContainer[data-character="tyrion"] .character {
  background: url("../images/characters/tyrion_lannister.svg") center 100% no-repeat;
}
.characterContainer[data-character="daenerys"] .character {
  background: url("../images/characters/daenerys_targaryen.svg") center 100% no-repeat;
}
.characterContainer[data-character="bronn"] .character {
  background: url("../images/characters/bronn.svg") center 100% no-repeat;
}