.character.reversed {
  transform: scaleX(-1) translate(-50%,-50%);
}
.character.toTheTopFromLeft {
  transform: translate(-50%,-50%) scaleX(-1) rotate(-90deg);
  transform-origin: center;
}
.character.toTheTopFromRight {
  transform: translate(-50%,-50%) rotate(-90deg);
  transform-origin: center;
}
.character.toTheBottomFromLeft {
  transform: translate(-50%,-50%) rotate(90deg);
  transform-origin: center;
}
.character.toTheBottomFromRight {
  transform: translate(-50%,-50%) scaleX(-1) rotate(90deg);
  transform-origin: center;
}
.character {
  width: 7vh;
  height: 7vh;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transform-origin: left;
  transition: all .1s;
}
.character#john {
  background: url("../images/characters/john_snow.svg") center 100% no-repeat;
}
.character#arya {
  background: url("../images/characters/arya_stark.svg") center 100% no-repeat;
}
.character#cersey {
  background: url("../images/characters/cersey_lannister.svg") center 100% no-repeat;
}
.character#tyrion {
  background: url("../images/characters/tyrion_lannister.svg") center 100% no-repeat;
}
.character#daenerys {
  background: url("../images/characters/daenerys_targaryen.svg") center 100% no-repeat;
}
.character#bronn {
  background: url("../images/characters/bronn.svg") center 100% no-repeat;
}