#game {
  position: relative;
  height: 77vh;
  width: 100vw;
  margin: auto;
  overflow: hidden;
  #gameGridContainer {
    display: flex;
    position: absolute;
    left: calc(50% - 3.5vh);
    top: 0;
    transition: transform .5s;
    .grid {
      display: flex;
      flex-wrap: wrap;
      width: 77vh;
      height: 77vh;
      background-color: $background-color; 
      &__elem {
        width: 7vh;
        height: 7vh;
        background-color: #fff;
      }
      &__elem0 { // Case inaccessible
        background: transparent;
      }
      &__elem1 { // Case chemin libre
        background: url("../images/elements/game_case.png") center 100% no-repeat;
      }
      &__elem2 { // Case chemin pièce
        background: url("../images/elements/coin_case.png") center 100% no-repeat;
      }
      &__elem3 { // Case mur étoile
        background: url("../images/elements/star_case.png") center 100% no-repeat;
      }
      &__elem4 { // Case mur horizontal droite
        background: url("../images/walls/wall_coin_side_droite.png") center 100% no-repeat;
      }
      &__elem5 { // Case mur horizontal gauche
        background: url("../images/walls/wall_side_gauche.png") center 100% no-repeat;
      }
      &__elem6 { // Case mur vertical haut
        background: url("../images/walls/wall_side_haut.png") center 100% no-repeat;
      }
      &__elem7 { // Case mur vertical bas
        background: url("../images/walls/wall_side_bas.png") center 100% no-repeat;
      }
      &__elem8 { // Case mur angle bas gauche
        background: url("../images/walls/wall_basgauche.png") center 100% no-repeat;
      }
      &__elem9 { // Case mur angle bas droite
        background: url("../images/walls/wall_coin_basdroite.png") center 100% no-repeat;
      }
      &__elem10 { // Case mur angle haut gauche
        background: url("../images/walls/wall_coin_hautgauche.png") center 100% no-repeat;
      }
      &__elem11 { // Case mur angle haut droite
        background: url("../images/walls/wall_coin_hautdroite.png") center 100% no-repeat;
      }
      &__elem12 { // Case mur central
        background: url("../images/walls/wall_full.png") center 100% no-repeat;
      }
      &__elem13 { // Case mort immédiate
        background: url("../images/elements/death_case.png") center 100% no-repeat;
      }
      &__elem14 { // Case mur mortel
        background: url("../images/elements/X_case.png") center 100% no-repeat;
      }
    }
  }
}