.character {
  width: 7vw;
  height: 7vw;
}
.character#john {
  background: url("../images/characters/john_snow.svg") center 100% no-repeat;
}
.character#arya {
  background: url("../images/characters/arya_starck.svg") center 100% no-repeat;
}
.character#cersey {
  background: url("../images/characters/cersey_lannister.svg") center 100% no-repeat;
}
.character#tyrion {
  background: url("../images/characters/tyrion_lannister.svg") center 100% no-repeat;
}
.character#daenerys {
  background: url("../images/characters/daenerys_targaryen.svg") center 100% no-repeat;
}
.character#bronn {
  background: url("../images/characters/bronn.svg") center 100% no-repeat;
}