.gameInformations {
  display: flex;
  justify-content: flex-end;
  &__info {
    margin-right: 60px;
  }
}
#game::after {
  content: ' ';
  display: block;
  width: 20vw;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0.75turn, $background-color, rgba(29,28,28,0));
}
#game {
  position: relative;
  height: 77vh;
  width: 100vw;
  margin: auto;
  overflow: hidden;
  #winter {
    width: 50vw;
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(0.25turn, $background-color, rgba(29,28,28,0.8), rgba(29,28,28,0));
    transition: width 0.25s;
  }
  #timeRemaining {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    font-size: $font-size-title;
  }
  #gameGridContainer {
    display: flex;
    position: absolute;
    left: calc(50% - 3.5vh);
    transform: translate(-154vh,0vh);
    top: 0;
    transition: transform .5s;
    background: linear-gradient($background-color,$color-primary,$background-color);
    .grid {
      display: flex;
      flex-wrap: wrap;
      width: 77vh;
      height: 77vh;
      &__elem {
        width: 7vh;
        height: 7vh;
        background-color: #fff;
      }
      &__elem0 { // Case inaccessible
        background: transparent;
      }
      &__elem1 { // Case chemin libre
        background: url("../images/elements/game_case.png") center 100% no-repeat !important;
        background-size: 100% 100% !important;
      }
      &__elem2 { // Case chemin pièce
        background: url("../images/elements/coin_case.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem3 { // Case mur étoile
        background: url("../images/elements/star_case.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem4 { // Case mur horizontal droite
        background: url("../images/walls/wall_coin_side_droite.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem5 { // Case mur horizontal gauche
        background: url("../images/walls/wall_side_gauche.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem6 { // Case mur vertical haut
        background: url("../images/walls/wall_side_haut.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem7 { // Case mur vertical bas
        background: url("../images/walls/wall_side_bas.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem8 { // Case mur angle bas gauche
        background: url("../images/walls/wall_basgauche.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem9 { // Case mur angle bas droite
        background: url("../images/walls/wall_coin_basdroite.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem10 { // Case mur angle haut gauche
        background: url("../images/walls/wall_coin_hautgauche.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem11 { // Case mur angle haut droite
        background: url("../images/walls/wall_coin_hautdroite.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem12 { // Case mur central
        background: url("../images/walls/wall_full.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem13 { // Case mort immédiate
        background: url("../images/elements/death_case.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
      &__elem14 { // Case mur mortel
        background: url("../images/elements/death_wall.png") center 100% no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}