.nav{
  background: rgba(255,255,255,0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 15;
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    margin: 0 auto;
    img{
      height: 9vh;
      margin: 3vh 0;
      margin-left: 6vh;
    }
  }

}