header{
    background-image:url("../images/background/website/mountain_background.png");
    padding: 10vh 0;
    background-size: cover;
    background-position-y: -30vh;
    background-attachment: fixed;
}

.main_logo{
 width: 41vw;
 height: 43vw;
 margin-left: 9vw;
 margin-bottom: 1vh;
}

.video_section{
    background-color: rgba(255,255,255, 0.5);
    margin: 1vh 10vw;
    padding: 8vh 10vw;
    iframe {
        width: 60vw;
        height: 33.7vw;
    }
}

.game_info{
    background-color: rgba(255,255,255, 0.5);
    margin: auto;
    padding: 8vh;

    &_clock{
        display: flex;
        justify-content: space-between;

        img{
            width: 41vw;
            height: 24.7vw;
            margin-top: 8vw;
            margin-left: 3vw;
            margin-right: 7vw;

        }

        p{
            font-size: 24px;
            margin-top: 8vw;
            margin-right: 5vw;
            line-height: 7vh;
        }
    }

    h1{
        text-align: center;
        margin-top: 2vh;

    }

}

.game_preview{
    
    padding: 10vh 10vw;

    h1{
        text-align: center;
        margin-top: 2vh;
    }

    .game_description{

        p{

        }

    }

    .obstacles{
        h2{
    
        }
        .death{
            background-color: rgba(255,255,255, 0.2);
            margin: 10vh 10vw;
            padding: 5vh 5vw;

            img{
                width: 8vw;
                height: 8vw;

            }

            image.wall{

            }

        }

    }
    
    .collect{
        h2{
    
        }
        .gains{
            background-color: rgba(255,255,255, 0.2);
            margin: 10vh 10vw;
            padding: 5vh 5vw;

            img{
                width: 8vw;
                height: 8vw;
            }

        }


    }



}