header{
    background-image:url("../images/background/website/mountain_background.png");
    padding: 10vh 0;
    background-size: cover;
    background-position-y: -30vh;
    background-attachment: fixed;
}

.main_logo{
 width: 41vw;
 height: 43vw;
 margin-left: 9vw;
 margin-bottom: 1vh;
}

.video_section{
    background-color: rgba(255,255,255, 0.5);
    margin: 1vh 10vw;
    padding: 8vh 10vw;
    iframe {
        width: 60vw;
        height: 33.7vw;
    }
}


main{
    background-color: rgba(255,255,255, 0.5);
    margin: auto;
    padding: 50vh;
}

.game_info{

    &_clock{
        display: flex;
        justify-content: space-between;

        img{
            
        }
    }

}