header{
    background-image:url("../images/background/website/mountain_background.png");
    padding: 15vh 0 10vh 0;
    background-size: cover;
    background-attachment: fixed;
}

.ctaContainer {
    text-align: center;
    padding: 5vh 10vw;
}

.mainLogo{
    height: 40vh;
    margin: 10vh 0 10vh 10vw;
}

.videoSection{
    background-color: $background-white-transparent;
    border-radius: 5px;
    margin: 1vh 10vw;
    padding: 8vh 10vw;
    &__Iframe {
        width: 60vw;
        height: 33.7vw;
    }
}
.gameInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
    &__mediumImage {
        width: 40vw;
    }
    &__visual {
        display: flex;
        width: 40vw;
        background-color: $background-white-transparent;
        padding: 1vw;
        border-radius: 5px;
        &__screen {
            width: 30vw;
            height: 20vw;
            border-radius: 5px;
        }
        &__exemples {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 5vw;
            padding: 0 2vw 0 3vw;
            &__item {
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}

.topScores {
    background-image:url("../images/background/website/dragon_background.png");
    background-size: cover;
    background-attachment: fixed;
    &__leaderboard {
        color: $background-color;
        padding: 4vh 2vw;
        width: 30vw;
        background-color: $background-white-transparent;
        border-radius: 5px;
        &__score {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4vh;
        }
        &__score:last-child {
            margin-bottom: 0;
        }
    }
}
#userScore {
    text-align: center;
    font-weight: bold;
    justify-content: center;
}