h1 {
  display: none;
}
h2 {
  font-size: $font-size-title;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: $font-size-title;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
h4 {
  font-size: $font-size-body;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
}
.bigText {
  font-size: 84px;
  font-weight: bold;
}
a.primary-button {
  padding: 10px 30px;
  background-color: $color-primary;
  text-decoration: none;
  color: $text-color;
  font-size: $font-size-body;
  border-radius: 5px 10px 5px 10px;
  font-weight: bold;
}
a.secondary-button {
  padding: 10px 30px;
  border: 2px solid $color-primary;
  text-decoration: none;
  color: $text-color;
  font-size: $font-size-body;
  border-radius: 5px 10px 5px 10px;
  font-weight: bold;
}
p {
  font-size: $font-size-body;
  line-height: 2;
  margin: 30px 0;
  text-align: justify;
  flex: 3;
}
p.withMargeLeft {
  margin-left: 5vw;
}
p.withMargeRight {
  margin-right: 5vw;
}
p.reducedWidth {
  padding: 0 15%;
}
section {
  background-color: $background-color;
  padding: 10vh 10vw;
}
section div:last-child {
  margin-bottom: 0;
}