@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$font-primary: 'Merriweather', serif;
$color-primary: #5795D3;
$color-secondary: #00FF00;
$background-color: #1D1C1C;
$background-color-transparent: rgba(29,28,28,0.9);
$background-white-transparent: rgba(255,255,255,0.5);
$text-color: #FEFEFE;


$font-size-body: 20px;
$font-size-title: 32px;

