@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$font-primary: 'Merriweather', serif;
$color-primary: #5795D3;
$color-secondary: #00FF00;
$background-color: #1D1C1C;
$text-color: #FEFEFE;

$font-size-body: 20px;
$font-size-title: 32px;

