@import "_config.scss";

@import "partials/library";
@import "partials/header";
@import "partials/landing_page";
@import "partials/footer";
@import "partials/game_global";
@import "partials/game_characters";
@import "partials/chooseYourCharacter";
@import "partials/endOfTheGame";
@import "partials/characterSlider";

@font-face {
  font-family: 'game_of_thronesregular';
  src: url('../fonts/game_of_thrones-webfont.woff2') format('woff2'),
       url('../fonts/game_of_thrones-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body, html {
  height: 100%;
}
body {
  margin: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: $font-primary;
  font-size: $font-size-body;
}
body.unscrollableBody {
  overflow: hidden;
}