@import "_config.scss";

@import "partials/library";
@import "partials/header";
@import "partials/landing_page";
@import "partials/footer";
@import "partials/game_global";
@import "partials/game_characters";
@import "partials/chooseYourCharacter";
@import "partials/endOfTheGame";

body, html {
  height: 100%;
}
body {
  margin: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: $font-primary;
  font-size: $font-size-body;
}
